@import "./Welcome.scss";

.react-tabs__tab-list {
  font-weight: bold;
  margin: 0 $b-size3;
  text-align: center;
  @include tablet() {
    margin: 0 $b-size4;
  }
  @include phone() {
    margin: 0px;
    font-size: 15px;
  }
  @include xphone() {
    font-size: 13px;
  }
}
.react-tabs__tab--selected,
.react-tabs__tab-panel {
  background-color: $second;
}

.react-tabs__tab-panel {
  margin: 0 $b-size3;
  min-height: 50vh;
  padding: 25px;
  @include tablet() {
    width: 100%;
    margin: 0;
    padding: 20px;
  }
  @include phone() {
    width: 100%;
    padding: 0px;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 5px;
}
th {
  height: 30px;
  border: 1px solid rgb(190, 190, 190);
  background-color: white;
  font-size: 16px;
  width: 50px;
  color: #f55454;
  @include tablet() {
    font-size: 17px;
  }
  @include phone() {
    font-size: 15px;
  }
  @include phone() {
    font-size: 14px;
  }
}

td {
  height: 50px;
  text-align: center;
  background-color: white;
  border: 1px solid rgb(190, 190, 190);
  font-size: 15px;
  u:hover {
    color: #f55454;
  }
  @include tablet() {
    font-size: 14px;
  }
  @include phone() {
    font-size: 13px;
  }
}
tr:hover {
  background-color: #13dbad;
}

#event-setting-button:hover {
  background-color: #f55454;
  color: white;
}
#event-setting-button {
  border: 1px solid rgb(155, 155, 155);
  outline: none;
  border-radius: 5px;
}
