@import './Welcome.scss';

// .organization-volunteer-events-parent-container{
    

// }

// .organization-volunteer-events-container{
//     // border: 1px solid blueviolet;
//     // box-shadow: 0px 1px 1px 1px rgb(218, 218, 218);
//     // text-align: center;
//     // padding: 40px 0 0 0;
//     // box-sizing: border-box;
// }

.upcoming-past-events-container{
    margin-top: 15px;
    width:800px;
    margin: 0 $size3;
    
}
.buttons{
    margin-left: 600px;
    margin-bottom: 30px;
    margin-top: 30px;

}

