@import './Welcome.scss';
$padding: 10px;

.header-container{
    // margin: 0 $size3;
    height:$size4;
    // border: 1px solid rgb(0, 255, 34);
    padding:0 $size3;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    @include tablet() {
      padding:5px;
      height:50px; 
  }

}
#app-name{
    font-weight: bolder;
    font-size: 35px;
    color:#f55454;
    border: 3px solid #f55454;
    padding: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    @include tablet() {
      font-size:20px;
      border: 1px solid #f55454;
      font-weight: bold;      
  }
  }
.profile-bar{
  display: flex;
  align-items: center;
  font-weight: bolder;
}
.profile-image{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.36);
  margin: 0 5px;
  @include tablet() {
    width: 40px;
  height: 40px;
  border-radius: 20px;    
}
}
#link{
  text-decoration: none;
}


.dropbtn {
    // background-color: rgb(109, 125, 216);
    color:gray;
    padding: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: -30px;
    @include tablet() {
      margin-bottom: -17px;
    }

  }
  .dropdown {
    position: relative;
    display: inline-block;
    // margin-right: 15px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    // max-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0;
    top: 45px;
    @include tablet() {
      top: 40px;
      right: 6px;
    }
  }

  .dropdown-content p {
    color: black;
    min-width: 80px;
    padding: 10px 5px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
.dropdown-content p:hover {background-color: #ddd}
  
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color:#f55454}
  
  










