@import './Welcome.scss';


.header-container{
    height:80px;
    padding:0 $b-size3;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:whitesmoke;
    border-bottom: 5px solid $primary;
    // background-image: url('https://images.unsplash.com/photo-1575382206031-8bfdbe615dbf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.15);
    @include tablet() {
      padding:0px;
      height:60px;
  }
  @include phone() {
    padding-left: 5px;      
  }
    @include xphone() {
      display: inline block;

  }

}
#app-name{
    font-weight: bolder;
    font-size: 35px;
    color:$primary;
    border: 3px solid $primary;
    padding: 3px;
    // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    @include tablet() {
      font-size:25px;
      font-weight: bold;      
    }
  }
.profile-bar{
  display: flex;
  align-items: center;
  font-weight: bolder;
  color: $primary;
  font-size: 19px;
}
.profile-image{
  width: 70px;
  height: 70px;
  border-radius: 35px;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.36);
  margin: 0 5px;
  @include tablet() {
  width: 40px;
  height: 40px;
  border-radius: 20px;    
}
}
#link{
  text-decoration: none;
}


.dropbtn {
    color:gray;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-bottom: -30px;
    @include tablet() {
      margin-bottom: -17px;
    }
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0;
    top: 45px;
    @include tablet() {
      top: 40px;
      right: 6px;
    }
  }

  .dropdown-content p {
    color: black;
    min-width: 80px;
    padding: 10px 5px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
.dropdown-content p:hover {background-color: #ddd}
  
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color:$primary}
  
  










