@import "./Welcome.scss";
$width1: 270px;
$height1: 285px;
$height2: 140px;
$height3: 320px;
$height4: 160px;

.parent-event-container {
  margin: 0 $b-size3;
  box-shadow: 0px 1px 1px 1px rgb(218, 218, 218);
  padding: 40px 0 0 0;
  box-sizing: border-box;
  background-color:$second;
  position: relative;
  @include tablet() {
    padding: $font-s5 0 0 0;
    margin: auto;
  }
}

#event-add-button {
  line-height: 30px;
  border-radius: 5px;
  border: transparent;
  background-color: white;
  color: rgba(0, 0, 0, 0.54);
  font-size: 18px;
  position: absolute;
  right: 5px;
  top: 25px;
  @include xphone() {
    top: 5px;
    font-size: 15px;
    right: 0;
  }
}
#event-add-button:hover {
  background-color: rgb(218, 95, 95);
  color: white;
}
#event-add-button:focus {
  outline: thin dotted;
}
#upcoming {
  font-size: 25px;
  color:rgb(48, 45, 45);
  text-align: center;
  margin-top: 35px;
  @include xphone() {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: -10px;
  }
}
.upcoming-events {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  box-sizing: border-box;
  @include phone() {
    flex-direction: column;
    align-items: center;
  }
}
.event-container {
  width:300px;
  height: $height1;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.36);
  background-color: white;
  color: rgb(61, 61, 61);
  margin-bottom: 30px;
  padding:5px;
  border-radius: 5px;
  @include phone() {
    width: 90%;
    height: $height3;
  }
  @include xphone() {
    width: 85%;
    height: 300px;
  }
}
#upcoming:hover,
.event-container:hover {
  cursor: pointer;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(1px, 0, 0);
  }
}

#event-title {
  text-align: center;
  // color: #f53a3a;
}
.event-image-container {
  // width:270px;
  width: 100%;
  height: $height2;

  // margin: 0 0 5px 0;
  
  @include phone() {
    width: 100%;
    height: $height4;
  }
  @include xphone() {
    height: 140px;
  }
}
#event-address,
#event-date {
  font-size: 14px;
  margin-left: 5px;
  @include phone() {
    font-size: 18px;
  }
  @include xphone() {
    font-size: 16px;
  }
}
#event-address {
  margin: 5px 0 10px 0;
}
