@import "./Welcome.scss";

.login-parent,
.register-parent {
  width: $width1;
  height: $width1;
  background-color: rgba(15, 13, 13, 0.479);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  @include tablet() {
    padding: 0;
  }
}

.login-form,
.register-form {
  padding: $size2;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: relative;
  @include tablet() {
    padding: 0;
  }
}
.login-form {
  width: 20%;
  line-height: $font-s3;
  min-height: $size6;
  padding: $size7 $size7 0 $size7;
  text-align: center;
  border: 1px solid rgb(167, 167, 167);
  input {
    line-height: 25px;
    width: 80%;
  }
  h4,
  button {
    font-weight: bold;
    margin: $margin-2 0;
  }
  h3,
  u {
    color: #f55454;
  }
  u {
    cursor: pointer;
  }
  button {
    font-size: $font-s2;
    border-radius: 3px;
    padding: 4px;
    cursor: pointer;
    border: 1px solid rgb(167, 167, 167);
  }
  @include tablet() {
    width: 30%;
    line-height: 15px;
    input {
      border: 1px solid rgb(65, 65, 65);
    }
  }
  @include phone() {
    width: 65%;
  }
  @include xphone() {
    width: 70%;
    h3 {
      font-size: 15px;
    }
  }
}
#delete {
  position: absolute;
  right: $margin-2;
  color: rgb(82, 78, 78);
  cursor: pointer;
}
#delete:hover {
  color: #f55454;
}

.register-form {
  width: 40%;
  text-align: center;
  input,
  textarea {
    line-height: 25px;
    width: 400px;
  }
  h3,
  h4 {
    margin-bottom: 10px;
    margin-top: $margin-2;
  }
  h3 {
    color: #f55454;
  }
  .button-group {
    width: $size6;
    margin-top: $margin-1;
    display: flex;
    justify-content: space-evenly;
    button {
      font-size: $font-s4;
      border-radius: 3px;
      padding: 4px;
      cursor: pointer;
      border: 1px solid rgb(167, 167, 167);
    }
  }
  button {
    line-height: $font-s5;
    margin: $margin-2;
  }
  @include tablet() {
    width: $width2;
    line-height: 13px;
    input,
    textarea {
      width: $size6;
      border: 1px solid rgb(65, 65, 65);
    }
  }
  @include phone() {
    width: 80%;
    line-height: 12px;
  }
  @include xphone() {
    width: 90%;
  }
}
.google-places-autocomplete {
  position: relative;
}

.google-places-autocomplete__suggestions-container {
  position: absolute;
  background-color: #ffb6b9;
}
.google-places-autocomplete__suggestion:hover {
  background-color: #bbded6;
}

#time {
  width: 46.5%;
  line-height: 17px;
  margin-bottom: 5px;
}
#date {
  width: 25%;
  @include tablet() {
    width: 35%;
  }
  @include xphone() {
    width: 35%;
  }
}
