table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
.volunteer-profile-container{
  border: 1px solid red;
  height: 800px;
  text-align: center;
}
.background-image{
  width: 50%;
}
.profile{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}