$primary:rgb(219, 81, 81);
$second:rgb(13, 36, 238);
$size1:50px;
$size2:20px;
$size3:250px;
$size4: 70px;
$width1:100%;

.parent-parent-container{
    width: $width1;
    
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 $size3;
    border: 1px solid black;

}
img{
    width: 80%;
    height: 300px;
    margin-top: 30px;
}
#join-button{
    width: 200px;
    height:50px;
}

#how{
    color: $primary;
    font-size: 2rem;
}
section{
   
    h1{
        color: $second;
    }
    ol{
        display: flex;
        font-size: $size1;
        li{
            margin-right: 40px;
            font-size: $size2;
        }
    }
}